@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Free';
    src: url(../fonts/ubuntu-v20-latin-regular.ttf);
}
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Free';
    src: url(../fonts/ubuntu-v20-latin-500.ttf);
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Free';
    src: url(../fonts/ubuntu-v20-latin-700.ttf);
}